<main id="project_main">
   <section id="blogr_main">
       <app-nav-header></app-nav-header>

       <section class="page_main">
           <h1 class="title_designed">Designed for the future</h1>
           <img class="img_circle" src="../../../assets/imagens/illustration-editor-desktop.svg" alt=""/>

           <div class="designed_future_container">

               <div class="text_one_content">
                   <h1 class="title_intro_content">Introducing an extensible editor</h1>
                   <p class="paragraph_content">
                       Blogr features an exceengly intuitive interface which lets you focus on one thing: creating content. The editor supports management of multiple blogs and allows easy manipulation of embeds such as images, videos, and Markdown. Extensibility with plugins and themes provide easy ways to add functionality or change the looks of a blog.
                   </p>
               </div>

               <div class="text_two_content">
                   <h1 class="title_intro_content">Robust content management</h1>
                   <p class="paragraph_content">
                       Flexible content management enables users to easily move through post. Increase the usability of your blog by adding customized categories, sections, format, or flow. With this functionality, you're in full control.
                   </p>
               </div>

           </div>

       </section>

       <section class="page_two">
           <div class="header_phones">
               <img class="img_phones" src="../../../assets/imagens/illustration-phones.svg" alt=""/>

               <div class="text_phone">
                   <h1 class="title_state">State of the Art Infrastructure</h1>

                   <p class="description_state">
                       With reliability and speed in mind , worldwide data centers provide the backbone for ultra-fast connectivity. This ensures your site will load instally, no matter where your readers are, keeping your site competitive.
                   </p>
               </div>
           </div>
       </section>

       <section class="page_three">
           
           <div class="laptod_container">
               <img class="img_laptod" src="../../../assets/imagens/illustration-laptop-desktop.svg" alt=""/>
               
               <div class="text_free">
                   <div class="title_descr_simple">
                       <h1 class="title_simple">Free, open, simple</h1>
                       <p class="description_simple">Blors is a free and open source application backed by a large community of helpful developers. It supports features such as code syntax highlighting, RSS feeds, social media integration, third-party commenting tools, and works seamlessly with Google Analytic. The architecture is clean and is relatively easy to learn.</p>
                   </div>

                   <div class="title_descr_powerful">
                       <h1 class="title_powerful">Powerful tooling</h1>
                       <p class="description_powerful">
                           Batteries included. We built a simple and straightforward CLI tool that makes customization and deployment a breeze, but capable of producing even the most complicated sites.
                       </p>
                   </div>
                   
               </div>
           </div>
       </section>

       <app-nav-footer></app-nav-footer>

   </section>
</main>

