<footer>
   <div class="footer_menu">
     
     <div class="footer_container">
         <h1 class="logo_content">Blogr</h1>
         
         <div class="type_option">
            <p>Product</p>

            <div class="option_content">
               <a class="otpion_inform" href="">Overview</a>
               <a class="otpion_inform" href="">Pricing</a>
               <a class="otpion_inform" href="">Marketplace</a>
               <a class="otpion_inform" href="">Features</a>
               <a class="otpion_inform" href="">Integrations</a>
            </div>
            
         </div>

         <div class="type_option">
            <p>Company</p>

            <div class="option_content">
               <a class="otpion_inform" href="">About</a>
               <a class="otpion_inform" href="">Team</a>
               <a class="otpion_inform" href="">Blog</a>
               <a class="otpion_inform" href="">Careers</a>
            </div>

         </div>

         <div class="type_option">
            <p>Connect</p>

            <div class="option_content">
               <a class="otpion_inform" href="">Contact</a>
               <a class="otpion_inform" href="">Newsletter</a>
               <a class="otpion_inform" href="">Linkedin</a>
            </div>
         </div>
         
      </div>
   </div>
</footer>

